<title>
    همون‌جا | اتاق جلسه مجازی
</title>
<meta property="og:title" content="همون‌جا | اتاق جلسه مجازی" />
<meta property="og:image" content="images/hamoonja-logo.png?v=1" />
<meta property="og:description"
    content="به راحتی یک کلیک کردن یک تماس تصویری شروع کنید و لینک آن را برای هر کسی که می‌خواهید بفرستید. برای شرکت در جلسه  احتیاج به نصب هیچ نرم‌افزاری نیست." />
<meta
    description="به راحتی یک کلیک کردن یک تماس تصویری شروع کنید و لینک آن را برای هر کسی که می‌خواهید بفرستید. برای شرکت در جلسه  احتیاج به نصب هیچ نرم‌افزاری نیست." />
<meta itemprop="name" content="همون‌جا | اتاق جلسه مجازی" />
<meta itemprop="description"
    content="به راحتی یک کلیک کردن یک تماس تصویری شروع کنید و لینک آن را برای هر کسی که می‌خواهید بفرستید. برای شرکت در جلسه  احتیاج به نصب هیچ نرم‌افزاری نیست." />
<meta itemprop="image" content="images/hamoonja-logo.png?v=1" />
<link rel="icon" type="image/png" href="images/favicon.ico?v=1" />