.full-page-centered {
    height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    background-color: white;
    color: black;
    direction: rtl;
}

.browswer-suggestion-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 5vw;
    border: solid 1px black;
    padding: 5vw;
}

.app-suggestion-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 5vw;
    padding: 5vw;
}

.rtl-text {
    text-align: justify;
}

.browswer-suggestion-container input {
    text-align: left;
    display: inline-block;
    margin: 20px 2vw;
    // align-self: stretch;
    word-wrap: break-word;
    border: solid 1px rgba(0, 0, 0, 0.3);
    background-color: rgb(97, 97, 97);
    color: white;
    min-height: 40px;
}

.full-page-centered .button {
    text-align: center;
    margin-top: 10px;
    background-color: #fa8d62;
    color: white !important;
    border: solid 1px #fa8d62;
    min-height: 40px;
    line-height: 40px;;
    // padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: 0.25s;
    cursor: pointer;
}

.full-page-centered .button:hover {
    box-shadow: 0 0.5em 0.5em -0.4em #fa8d62;
    transform: translateY(-0.25em);
    background-color: transparent;
    color: #fa8d62 !important;
}

.full-page-centered .button:disabled {
    opacity: 0.5;
}

.full-page-centered .button:disabled:hover {
    box-shadow: none;
    transform: none;
    background-color: #fa8d62;
    color: white;
}

.copy-button {
    margin-top: 5px;
    font-size: 0.8rem;
    color: #2b616d;
}

.copy-button:hover {
    text-decoration: none;
    color: #fa8d62;
}